{% layout "body.liquid", title: "About" %}

{% block content %}
<h1> About </h1>
{{ content }}

<p class="other-stuff"> or if you wanna see other stuff I do: </p>

{% include "social-media.liquid" %}

{% endblock %}