<div class="logos">
<a href="https://www.instagram.com/neocitrusweb/" ><img id="insta-logo" src="../../static/images/old_insta_logo.png" alt="Old Insta Logo"></a>
<a href="https://www.twitch.tv/neo_citrus_twitch"><img id="twitch-logo" src="../../static/images/twitch_logo.webp" alt="Twitch Frutiger Logo by ShotgunRenegade on Reddit"></a>
</div>