<div class="logos">
<a href="https://github.com/Neo-Citrus" ><img id="github-logo" src="../../static/images/GitHub_Invertocat_White.png" alt="GitHub Logo"></a>
<a href="https://www.twitch.tv/neo_citrus_twitch"><img id="twitch-logo" src="../../static/images/twitch_logo.webp" alt="Twitch Frutiger Logo by ShotgunRenegade on Reddit"></a>
<a href="https://ko-fi.com/neocitrusweb" ><img id="kofi-logo" src="../../static/images/kofi_symbol.svg" alt="Kofi Logo"></a>
</div>