{% layout "body.liquid" %}
{% block content %}
<h1> Welcome to Neo Citrus Web!</h1>

<p> My name's <b><i>Neo</i></b> and I'm the creator of this website! </p>
<p>This is my little corner of the internet! Also the place I will be posting my art and my thoughts (and the place you can reach out to me for work #selfishpromo 😆).</p>

<p>Currently this is a <b><i>work in progress</i></b>, but I plan on adding some more features to help navigation and interaction be smoother. Keep our eyes peeled! </p>

<hr>
<h3> Latest Updates: </h3>

<p><b>2026-02-15:</b> Basic website is now complete!</p>
<p><b>2026-02-17:</b> Website is now posted and accessibility has been fixed!</p>
<p><b>2026-03-01:</b> Gallery has been fixed + links have now embeds! (thank you <a href="https://beefox.xyz"><b> Bee! </b></a> 😄)</p>
{% endblock %}